body{
    background-color:  #0392BF;
}

.side-bar{
    background-color: lightblue;
    height: 586px;
    width: 70px;
    margin-left: -50px;
}

.side-bar div{
    padding: 10px 10px;
    text-decoration: none;
    font-size: 50px;
    margin-bottom: 300px;
}

.side-bar div a{
    color: hotpink;
}

.side-bar ul{
    z-index: 2;
    list-style: none;
    padding: 10px 10px;
}
.side-bar ul li{
    font-size: 30px;
}

.side-bar ul li a{
    color: gray;
    text-decoration: none;
}

header{
    padding: 20px 20px;
    font-size: 25px;
}

header ul li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}
header ul li:hover{
    border-bottom: 1px solid seagreen;
}

header ul li a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

header ul li a:hover{
    border-bottom: 1px solid seagreen;
}

a{
    text-decoration: none;
    color: seagreen;
    font-size: 25px;
    font-weight: 400; 
}


.section-a .skate-img{
    margin-top: -280px;
}

.section-a .skate-img img{
    display: block;
    height: 810px;
    max-width: 870px;
}

.section-a h1{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    margin-top: -275px;
    margin-left: 78px;
    line-height: 50px;
}

span{
    margin-left: 85px;
}

.checked {
    color: orange;
}


.section-a .head{
    padding-left: 80px;
}
.head ul li{
    display: inline-block;
    margin-right: -85px;
    list-style: none;
    position: relative;
    left: 160px;
}
.head h2{
    font-size: 30px;
    font-weight: 400;
    position: relative;
    bottom: -30px;
    color: black;
}


.number h2{
    color: silver;
    font-size: 18px;
    font-weight: 300;
    margin-top: -20px;
}
.number h3{
   margin-top: 40px; 
   font-size: 30px;
   color: black;
}

.number p{
    color: black;
    font-family: 'Arial Narrow Bold';
    line-height: 25px;
}

.colors span{
    border-bottom: 1px solid silver;
    position: relative;
    right: 85px;
    color: silver;
    font-size: 18px;
    font-weight: 300;
}

.colors h3{
    margin-top: 15px;
    font-size: 17px;
    color: black;
}

.colors ul{
    position: relative;
    top: -32px;
    left: 50px;
}

.colors ul li{
    text-decoration: none;
    font-size: 15px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid black;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.colors ul li:hover{
    font-size: 18px;
}

.colors ul li:nth-child(4){
    color: #0392BF;
    background-color: #0392BF;
}

.colors ul li:nth-child(3){
    color:  #ED48BA;
    background-color:  #ED48BA;
}

.colors ul li:nth-child(2){
    color: #FBEC06;
    background-color:  #FBEC06 ;
}

.colors ul li:nth-child(1){
    color:  #B3D4E0 ;
    background-color:  #B3D4E0 ;
}

label{
   color: black; 
}

select{
   padding: 5px 10px;
   color: black;
   border: 1px solid black;
   background-color: transparent; 
}

input{
    padding: 5px 17px;
    background-color: orangered;
    border: none;
    color: black;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}




